.notification-container {
    position: relative;
  }
  
  .notification-bar {
    background-color: #f10202;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: top 0.3s ease-in-out;
  }
  
  .notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .notification-bar.visible {
    top: 0; /* Show the notification bar */
  }
  
  .notification-bar.hidden {
    top: -60px; /* Hide the notification bar */
  }
  
  /* Your existing header styles here */
  