/* CSS for Testimonial Component */

.testimonials-container{
    width: 100vw;
}
.testimonial {
    
    padding: 20px;
    text-align: center;
    /* background-color: #f9f9f9; */
    border-radius: 20px;
    max-width: 350px;
    height: auto;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -4px 4px 25px 0px rgba(0, 0, 0, 0.075);
}

.testimonial-logo img {
    max-width: 150px;
    max-height: 100px;
    margin: 0 auto;

}

.testimonial-content {
    font-size: 16px;
    text-align: center;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
}


.testimonial-line {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.testimonial-person {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    
}

.person-info {
    display: flex;
    align-items: center;
    /* Center picture vertically */
}

.person-pic {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.person-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: -10px;
}

.person-position {
    font-size: 14px;
}

.person-details {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

  }
  


/* CSS for Testimonials Component */
.slick-slider {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;
    position: relative;
}


/* Mobile-first approach - Adjust styles for mobile devices */
@media (max-width: 768px) {
    .testimonials-container{
        width: 90% !important;
    }
    .testimonial {
        width: 90%; 
        height: fit-content;
        min-height: 400px;
        margin-bottom: 50px;/* Adjust width for mobile devices */
    }

    .testimonial-logo img {
        max-width: 100%; /* Allow logo image to adjust within its container */
        max-height: auto;
    }
    
    .testimonial-person {
        flex-direction: column; /* Stack person info vertically on mobile */
        align-items: center; /* Center align person info on mobile */
    }

    .person-details {
        margin-left: 0; /* Reset margin for mobile */
        text-align: center; /* Center align person details on mobile */
    }
}