.internshipform_main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.internshipform {

    margin: 50px;
    margin-top: 150px;
}

.file-input {
    width: 500px; 
   
  }
  