@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

  

.app {
  text-align: center;
  overflow-x: hidden !important; 
  font-family: 'Comfortaa', cursive !important;
  background-color: #282c34;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (max-width: 767px) {
    body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow-x: hidden !important; 
    }}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #A58CF4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
