.row-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  
  .col {
    flex: 1;
  }
  
  .text-col {
    padding: 20px;
  }
  
  .text-col h1 {
    color: #006DEE;
  }
  
  .text-col p {
    font-size: 16px;
  }
  
  .image-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-col img {
    max-width: 100%;
    height: auto;
  }
  